aniso8601==7.0.0
asgiref==3.5.2
black==22.6.0
click==8.1.3
Django==3.2.14
django-cors-headers==3.13.0
graphene==2.1.9
graphene-django==2.15.0
graphene-file-upload==1.3.0
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
importlib-metadata==4.12.0
mypy-extensions==0.4.3
pathspec==0.9.0
Pillow==9.2.0
platformdirs==2.5.2
promise==2.3
psycopg==3.0.16
psycopg2-binary==2.9.3
python-dotenv==0.20.0
pytz==2022.1
Rx==1.6.1
singledispatch==3.7.0
six==1.16.0
sqlparse==0.4.2
text-unidecode==1.3
tomli==2.0.1
typed-ast==1.5.4
typing_extensions==4.3.0
zipp==3.8.1
